@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

$light-slate: #f2f2f1;

body {
	font-family: 'Karla', sans-serif;
	background-color: lighten($light-slate, 10%);
	margin: 3em;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 20em;

	.h1 {
		font-size: 2em;
		font-weight: 700;
		margin: 0;
		padding: 0;
	}

	.instructions {}
}

.footer-wrapper {
	bottom: 0;
	width: 100%;
	position: absolute;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.arrangement {}

	.contact {
	}
}

.cairn-field {
	position: absolute;
	left: 50%;
	top: 200px;
	z-index: 2;
}

a {
	font-weight: 800;
	text-decoration: none;
	color: black;

	&:hover {
		padding-bottom: .1em;
		border-bottom: 2px solid black;
	}
}

.pebble {
	width: 80px; 
	height: 80px; 
}

.draggable {
	width: 120px;
	height: 120px;
}

.small {
	width: 200px; 
	height: 200px; 
}

.rotated {
  transform: rotate(120deg);
}
