$light-slate: #f2f2f1;

  #draggable { 
  	padding: 0.5em; }

body {
	background-color: $light-slate;
}

header,
footer {
	text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

img {
	width: 150px; 
	height: 150px; 
}

.arrangement {
	  margin: auto;
    width: 80%;

	&__stone {}

	&__rock {}

	&__boulder {}

	&__geode {}

	&__pebble {}
}
