body {
	font-family: 'Karla', sans-serif;

}

.cairn-canvas {
  border: 1px solid #abab;
  height: 300px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .cairn-canvas {
    width: 100%;
    height: 100%;
  }
}

.addie {
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.cairn-title {
  margin: 0 auto 0 0 !important;
}

.cairn-desc {
  margin: 0;
}

.pebble {
	width: 90px; 
  height: 90px; 
}

.draggable {
	width: 120px;
	height: 120px;
}

.rotated {
  transform: rotate(120deg);
}
