$light-slate: #f2f2f1;

  #draggable { width: 150px; height: 150px; padding: 0.5em; }

body {
	background-color: $light-slate;
}

.container {}

img {}

.arrangement {

	&__stone {}

	&__rock {}

	&__boulder {}

	&__geode {}

	&__pebble {}
}
